[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "esp-adf"]
	path = esp-adf
	url = https://github.com/espressif/esp-adf.git
[submodule "src/logging/fmt"]
	path = src/logging/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/denoise/nnom"]
	path = src/denoise/nnom
	url = https://github.com/majianjia/nnom.git
